body {
	background:#333;
	color: gold;
}

p{
	color:cornflowerblue;
}
.code {
	background:black;
	color:chartreuse;
}
.projects {
	color:aqua;
}
.select {
	background:#444;
	padding: 30px;
}
.readme {
	background:white;
	color:black;
	padding:30px;
}
.assign {
	background:#100;
	color:white;
}
a {
	color:blueviolet;
}
li {
	color:mediumspringgreen;
}
h3 {
	color:orangered;
}
